@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #117ad2 !important;
}
.bg-success {
  background-color: #e25041 !important;
}
.bg-info {
  background-color: #000000 !important;
}
.bg-warning {
  background-color: #41a85f !important;
}
.bg-danger {
  background-color: #cccccc !important;
}
.btn-primary {
  background-color: #117ad2;
  border-color: #117ad2;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #0b518b;
  border-color: #0b518b;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0b518b !important;
  border-color: #0b518b !important;
}
.btn-secondary {
  background-color: #fac51c;
  border-color: #fac51c;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #c59704;
  border-color: #c59704;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #c59704 !important;
  border-color: #c59704 !important;
}
.btn-info {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success {
  background-color: #e25041;
  border-color: #e25041;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #ba2b1c;
  border-color: #ba2b1c;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #ba2b1c !important;
  border-color: #ba2b1c !important;
}
.btn-warning {
  background-color: #41a85f;
  border-color: #41a85f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #2c7140;
  border-color: #2c7140;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #2c7140 !important;
  border-color: #2c7140 !important;
}
.btn-danger {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #a6a6a6;
  border-color: #a6a6a6;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #094374;
  color: #094374;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #117ad2;
  border-color: #117ad2;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #117ad2 !important;
  border-color: #117ad2 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #ac8404;
  color: #ac8404;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #fac51c;
  border-color: #fac51c;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #fac51c !important;
  border-color: #fac51c !important;
}
.btn-info-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success-outline {
  background: none;
  border-color: #a42619;
  color: #a42619;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #e25041;
  border-color: #e25041;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #e25041 !important;
  border-color: #e25041 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #255e35;
  color: #255e35;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #41a85f;
  border-color: #41a85f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #41a85f !important;
  border-color: #41a85f !important;
}
.btn-danger-outline {
  background: none;
  border-color: #999999;
  color: #999999;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
}
.text-primary {
  color: #117ad2 !important;
}
.text-success {
  color: #e25041 !important;
}
.text-info {
  color: #000000 !important;
}
.text-warning {
  color: #41a85f !important;
}
.text-danger {
  color: #cccccc !important;
}
.alert-success {
  background-color: #e25041;
}
.alert-info {
  background-color: #000000;
}
.alert-warning {
  background-color: #41a85f;
}
.alert-danger {
  background-color: #cccccc;
}
.btn-social {
  border-color: #117ad2;
}
.btn-social:hover {
  background: #117ad2;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #117ad2;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #117ad2;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #117ad2;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #117ad2;
}
.lead a,
.lead a:hover {
  color: #117ad2;
}
.lead blockquote {
  border-color: #117ad2;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b6daf9;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fdf3f2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #93d5a6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #117ad2;
}
.scrollToTop_wraper {
  display: none;
}
.form-control {
  padding: 0.9rem;
}
.align-center {
  text-align: center;
}
.col,
.col-12,
.col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
form a.btn {
  margin: 0;
}
.mx-auto {
  margin: 0 auto;
}
section.custom-form .container,
section.form .container {
  display: flex;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
#msg-box3-w .mbr-section-title,
#msg-box3-w .lead {
  color: #000;
}
#msg-box3-w .mbr-section-title {
  color: #ffffff;
}
#msg-box3-w .lead {
  color: #ffffff;
}
#ext_menu-o .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-o .navbar-caption {
  color: #ffffff;
}
#ext_menu-o .navbar-toggler {
  color: #000000;
}
#ext_menu-o .close-icon::before,
#ext_menu-o .close-icon::after {
  background-color: #000000;
}
#ext_menu-o .link,
#ext_menu-o .dropdown-item {
  color: #000000;
}
#ext_menu-o .link {
  font-size: 0.95rem;
}
#ext_menu-o .dropdown-item,
#ext_menu-o .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#ext_menu-o .link:hover,
#ext_menu-o .dropdown-item:hover,
#ext_menu-o .link:focus,
#ext_menu-o .dropdown-item:focus {
  color: #117ad2;
}
#ext_menu-o .link[aria-expanded="true"],
#ext_menu-o .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-o .nav-dropdown-sm .link:focus,
#ext_menu-o .nav-dropdown-sm .link:hover,
#ext_menu-o .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-o .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-o .navbar,
#ext_menu-o .nav-dropdown-sm,
#ext_menu-o .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-o .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-o .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-o .bg-color.transparent.opened .link:hover,
#ext_menu-o .bg-color.transparent.opened .link:focus {
  color: #117ad2;
}
#ext_menu-o .link[aria-expanded="true"],
#ext_menu-o .dropdown-item[aria-expanded="true"] {
  color: #117ad2!important;
}
#content5-16 .mbr-section-title,
#content5-16 .lead {
  color: #fff;
}
#content5-16 .lead {
  color: #000000;
}
#content5-16 .mbr-section-title {
  color: #000000;
}
#msg-box5-y P {
  text-align: left;
}
#msg-box5-y H3 {
  text-align: left;
}
#features3-2 P {
  text-align: left;
}
#features3-2 H4 {
  text-align: left;
}
#msg-box6-z h3,
#msg-box6-z p {
  color: #fff;
}
#msg-box6-z P {
  text-align: left;
}
#msg-box6-z H3 {
  text-align: left;
}
#form1-13 .form-control-label {
  color: #232323;
}
#form1-13 .mbr-section-subtitle SPAN {
  font-family: 'Raleway', sans-serif;
}
#footer1-14 P {
  color: #ffffff;
}
